 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif; font-weight:500;
    margin: 0;
    color: #202124;
    -webkit-font-smoothing: subpixel-antialiased;
    background: #fdfdfd;
} 

body::-webkit-scrollbar {
    height: 10px;
    width: 8px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgba(255,88,27, 0.7);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgba(255,88,27, 0.9);
}

::selection {
    background: rgba(255,88,27, 0.2);
    color: rgba(255,88,27, 0.9);
}

h1 {
    font-size: clamp(30px, 2vw, 40px);
    color: #202124;
    margin: 0;
    font-weight: bold;
    line-height: 1.2;
}

h2 {
    font-size: clamp(16px, 1.5vw, 18px);
    color: #FF581B;
    margin: 0;
    font-weight: bold;
}

h3 {
    font-size: clamp(14px, 1.5vw, 17px);

}

h4 {
    color: #FF581B;
    margin: 0;
}

p {
    /* font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin: 5px 0;
    line-height: 30px; */

    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    margin: 5px 0;
    line-height: 32px;
    font-weight: 500;
    color: #666;
    letter-spacing: -.02em;
}

.p-highlight {
    color: #202124;
}

.p-section {
    position: relative;
    margin: 10px 0;
}
.p-section > .indent_left {
    margin-left: 25px;
}
.p-section::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    height: 95%;
    width: 4px;
    z-index: -1;
    background: rgba(189,189,189, 0.4);
}

b {
    color: #222;
}

.indent_left {
    margin-left: 10px;
}

button {
    /* height: 38px; */
    min-width: 100px;
    padding: 9px;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    color: #ffffff;
    background-color: #FF581B;
    cursor: pointer;
    outline: none;
}

a {
    color: #3B86FF;
    /* font-size: 14px; */
    text-decoration: none;
}

.section-list-highlight {
    color: rgba(255,88,27, 0.8);
    margin-bottom: 15px;
}

footer.timeline-footer {
    background: rgba(255,88,27, 0.07);
    flex: 1 1 auto;
    height: 220px;
    border-top: 3px solid rgba(255,88,27, 0.07);
    width: 100%;
    margin-top: 20px;
}

.timeline-footer_content {
    padding: 30px 50px;
    max-width: 500px;
}

.timeline-footer_content h1 {
    color: rgba(255,88,27, 1);
}

.timeline-footer_content p {
    color: rgba(255,88,27, 0.9);
    line-height: 25px;
}

.tf-row {
    display: flex;
}

.tf-row > a {
    margin: 10px;
    color: rgba(255,88,27, 0.8);
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid rgba(255,88,27, 0.8);
}

.tf-row > a:first-child {
    margin-left: 0;
}

footer.my-links {
    position: absolute;
    top: 15px;
    right: 10px;
}

footer.my-links a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: opacity 1s, border-color 1s;
    border-radius: 100px;
    padding: 5px;
    background: #fff;
    border: 1px solid #3B86FF;
    cursor: pointer;
    background: rgba(59, 134, 255, 0.15);
    box-shadow: inset 4px 4px 0 #fff, 4px 4px 0 rgba(59, 134, 255, 0.15);
}

footer.my-links a img:hover {
    border: 1px solid #0651ca;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.timeline-half {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.projects-half {
    display: table-cell;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1.2;
    background: rgba(255,88,27, 0.3);
    min-width: 500px;
    max-width: 900px;
}

.content-header {
    display: flex;
    flex-direction: column;
}

.timeline-content {
    padding: 40px;
    max-width: 600px;
}

.breadcrumbs_container {
    position: absolute;
    top: 20px;
    left: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.breadcrumbs_container p{
    color: white;
    margin: 0;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    line-height: unset;
}

.breadcrumb {
    background: #FF581B;
    padding: 5px;
    margin-right: 5px;
}

.breadcrumb-second-level {
    display: flex;
    border: 1px solid #202124;
}

.breadcrumbs_container img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.breadcrumb-second-level p {
    color: #202124;
    padding: 5px;
}

/* 
.breadcrumbs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background: #202124;
    padding-left: 40px;
    min-height: 30px;
}
.breadcrumb-item {
    background: #33353A;
    padding: 5px;
    height: 30px;
}
.breadcrumbs p {
    color: white;
    margin: 0;
} */

.home-link {
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.main-title h1 {
    font-size: clamp(40px, 10vw, 50px);
    margin-top: 140px; 
}
.main-title h2 {
    font-size: clamp(20px, 10vw, 40px);
}

.intro_bold {
    font-size: 18px;
    color: rgba(255,88,27, 0.8);
    margin: 25px 0 25px 0;
    border-bottom: 3px solid rgba(255,88,27, 0.7);
    background-color: rgba(255,88,27, 0.07);
    object-fit: fill;
    display: inline-block;
    clear: none;
    justify-content: flex-start;
    align-items: stretch;
    line-height: 27px;
    padding: 5px 8px;
    box-shadow: 0 2px 4px 0 rgb(140 144 155 / 10%);
}

.projects-content {
    padding: 200px 48px 124px 48px;
}
.portrait-container {
    /* height: 320px;
    width: 250px;
    margin-left: auto;
    margin-bottom: 60px;
    border-radius: 10px; */
    position: relative;
    height: 170px;
    width: 170px;
    margin-left: auto;
    margin-bottom: 60px;
    border-radius: 50%;

    background: url(images/me.png);
    /* background: url(images/me.jpg); */
    filter: brightness(0.98);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.pulse1 {
    position: absolute;  
    width: 170px;
    height: 170px;
    margin: auto; 
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    opacity: 0;
    border: 3px solid rgba(255,255,255,.1);
  
    -webkit-animation: pulsejg1 4s linear infinite;
    -moz-animation: pulsejg1 4s linear infinite;
    animation: pulsejg1 4s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 15px 10px rgba(255,88,27, 0.4);
    -moz-box-shadow: inset 0px 0px 15px 10px rgba(255,88,27, 0.4);
    box-shadow: inset 0px 0px 15px 10px rgba(255,88,27, 0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pulse2 {
    position: absolute;
    width: 170px;
    height: 170px;
    margin: auto; 
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 2;
    opacity: 0;
    border: 1px solid rgba(255,255,255,0);
  
    -webkit-animation: pulsejg2 4s linear infinite;
    -moz-animation: pulsejg2 4s linear infinite;
    animation: pulsejg2 4s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 12px 5px rgba(255,88,27, 0.8);
    -moz-box-shadow: inset 0px 0px 12px 5px rgba(255,88,27, 0.8);
    box-shadow: inset 0px 0px 12px 5px rgba(255,88,27, 0.8);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(.9);
        opacity: .2;
    }

    70% {
        -webkit-transform: scale(1.1);
        opacity: .35;
    }

    80% {
        -webkit-transform: scale(1.25);
        opacity: .2;
    }

    100% {
        -webkit-transform: scale(1.4);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -moz-transform: scale(.9);
        opacity: .2;
    }

    70% {
        -moz-transform: scale(1.1);
        opacity: .35;
    }

    80% {
        -moz-transform: scale(1.25);
        opacity: .2;
    }

    100% {
        -moz-transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: .1;
    }

    70% {
        transform: scale(1.1);
        opacity: .25;
    }

    80% {
        transform: scale(1.25);
        opacity: .1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes pulsejg2 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(.8);
        opacity: .05;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: .1;
    }

    60% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }

    80% {
        -webkit-transform: scale(1.2);
        opacity: .1;
    }

    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg2 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -moz-transform: scale(.8);
        opacity: .05;
    }

    50% {
        -moz-transform: scale(1);
        opacity: .1;
    }

    60% {
        -moz-transform: scale(1.1);
        opacity: .3;
    }

    80% {
        -moz-transform: scale(1.2);
        opacity: .1;
    }

    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    40% {
        transform: scale(.8);
        opacity: .05;
    }

    50% {
        transform: scale(1);
        opacity: .1;
    }

    60% {
        transform: scale(1.1);
        opacity: .3;
    }

    80% {
        transform: scale(1.2);
        opacity: .1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}


.project-card {
    position: relative;
    display: flex;
    min-height: 550px;
    width: 100%;
    max-width: 800px;
    background: white;
    border-radius: 15px;
    box-shadow:0 2px 5px 0 rgba(140, 144, 155, 0.15);
    padding: 10px;
    margin: 30px 0;
}

.project-card_tag {
    position: absolute;
    top: -12px;
    display: flex;
    justify-content: center;
    width: 95%;
}

.project-card_tag p {
    background: white;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(140 144 155 / 15%);
    color: rgba(32, 33, 36, 0.6);
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
}

.image-placeholder {
    flex: 1.3;
    background: white;
    border-radius: 15px;
    box-shadow:0 2px 5px 0 rgba(140, 144, 155, 0.15);
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: left!important;
}

.project-img-cluster {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 400px;
}

.project-section-divider {
    position: relative;
    margin: 30px 0;
}

.project-section-divider:after {
    content: "";
    width: 100%;
    height: 0.5px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.project-img_cezanne {
    background: url(images/project1-img.png);
    background-size: contain!important;
}
.project-img_cezanne-2 {
    background: url(images/project1-img-2.png);
}

.project-img_cezanne-3 {
    background: url(images/project1-img-3.jpg);
}

.project-img_cezanne-4 {
    background: url(images/project1-img-4.png);
}

.project-img_cezanne-5 {
    background: url(images/project1-img-5.png);
}

.project-img_cezanne-6 {
    background: url(images/project1-img-6.png);
}

.project-img_cezanne-7 {
    background: url(images/project1-img-7.png);
}

.project-img_cezanne-8 {
    background: url(images/project1-img-8.png);
}

.project-img_cezanne-9 {
    background: url(images/project1-img-9.png);
}

.project-img_cezanne-10 {
    background: url(images/project1-img-10.png);
    background-position: top!important;
}

.project-img_cezanne-11 {
    background: url(images/project1-img-11.PNG);
    background-position: top!important;
}

.project-img_cezanne-12 {
    background: url(images/project1-img-12.png);
    background-position: top!important;
    background-size: contain!important;
    min-height: 900px;
}

.project-img_cezanne-13 {
    background: url(images/project1-img-13.png);
    background-position: top!important;
    background-size: 400px!important;
}

.project-img_cezanne-14 {
    background: url(images/project1-img-14.png);
    background-position: top!important;
}

.project-img_cezanne-15 {
    background: url(images/project1-img-15.png);
    background-position: top!important;
}

.project-img_cezanne-16 {
    background: url(images/project1-img-16.png);
    background-position: left!important;
    background-size: contain!important;
}

.project-img_cezanne-17 {
    background: url(images/project1-img-17.png);
    background-position: left!important;
    background-size: contain!important;
}
.project-img_cezanne-18 {
    background: url(images/project1-img-18.png);
    background-position: left!important;
    background-size: contain!important;
}
.project-img_cezanne-19 {
    background: url(images/project1-img-19.png);
    background-position: left!important;
    background-size: contain!important;
}
.project-img_cezanne-20 {
    background: url(images/project1-img-20.png);
    background-position: top!important;
}
.project-img_cezanne-21 {
    background: url(images/project1-img-21.png);
    background-position: left!important;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 10px;
}
.project-img_cezanne-22 {
    background: url(images/project1-img-22.png);
    background-position: left!important;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 10px;
}

.project-img_cezanne-23 {
    background: url(images/project1-img-23.png);
    background-position: left!important;
    background-size: contain!important;
    margin: 10px;
}

.project-img_cezanne-24 {
    background: url(images/project1-img-24.png);
    background-position: left!important;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 10px;
}

.project-img_cezanne-25 {
    background: url(images/project1-img-25.png);
    background-position: left!important;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 10px;
}

.project-img_cezanne-26 {
    background: url(images/project1-img-26.png);
    background-size: contain!important;
    height: 3000px;
}

.project-img_cezanne-27 {
    background: url(images/project1-img-27.png);
}


.project-img_cezanne-28 {
    background: url(images/project1-img-28.png);
}


.project-img_cezanne-29 {
    background: url(images/project1-img-29.png);
}

.project-img_cezanne-30 {
    background: url(images/project1-img-30.jpg);
    margin: 10px;
}

.project-img_cezanne-31 {
    background: url(images/project1-img-31.jpg);
    margin: 10px;
}

.project-img_cezanne-34 {
    background: url(images/project1-img-34.jpg);
    margin: 10px;
}

.project-img_cezanne-36 {
    background: url(images/project1-img-36.jpg);
    margin: 10px;
}

.project-img_cezanne-37 {
    background-position: top!important;
    background: url(images/project1-img-37.jpg);
    margin: 10px;
}

.project-img_cezanne-38 {
    background-position: left!important;
    background: url(images/project1-img-38.jpg);
    margin: 10px;
}

.project-img_cezanne-39 {
    background-position: left!important;
    background: url(images/project1-img-39.jpg);
    margin: 10px;
}

.project-img_cezanne-40 {
    background-position: top!important;
    background: url(images/project1-img-40.jpg);
    margin: 10px;
}

.project-img_cezanne-41 {
    background-size: contain!important;
    background: url(images/project1-img-41.png);
    margin: 10px;
}

.project-img_cezanne-42 {
    background-size: contain!important;
    background: url(images/project1-img-42.png);
    margin: 10px;
}

.project-img_cezanne-43 {
    background: url(images/project1-img-43.png);
    margin: 10px;
}

.project-img_cezanne-44 {
    background-size: contain!important;
    background-position: center!important;
    box-shadow: none;
    background: url(images/project1-img-44.png);
    margin: 10px;
}

.project-img_recyclops {
    background: url(images/recyclops.jpg);
}

.project-img_recyclops-2 {
    background: url(images/recyclops-2.png);
}

.project-img_recyclops-3 {
    background: url(images/recyclops-3.png);
}

.project-img_recyclops-4 {
    background: url(images/recyclops-4.jpg);
    max-height: 300px;
    margin: 10px;
}

.project-img_recyclops-5 {
    background: url(images/recyclops-5.jpg);
    max-height: 300px;
    margin: 10px;
}

.project-img_recyclops-6 {
    background: url(images/recyclops-6.jpg);
    max-height: 300px;
    margin: 10px;
}

.project-img_recyclops-7 {
    background: url(images/recyclops-7.jpg);
    max-height: 300px;
    margin: 10px;
}

.project-img_recyclops-8 {
    background: url(images/recyclops-8.jpg);
    max-height: 300px;
    margin: 10px;
}

.project-img_recyclops-9 {
    background: url(images/recyclops-9.png);
    max-height: 300px;
    background-size: contain!important;
}

.project-img_recyclops-10 {
    background: url(images/recyclops-10.png);
    max-height: 300px;
    margin: 10px;
}

.project-img_recyclops-11 {
    background: url(images/recyclops-11.png);
    max-height: 300px;
    margin: 10px;
}

.project-img_recyclops-12 {
    background: url(images/recyclops-12.PNG);
    margin: 10px;
    box-shadow:unset;
    background-position: center!important;
}


.project-img_pals {
    background: url(images/pals.jpg);
}

.project-img_pals-2 {
    background: url(images/pals-2.png);
    background-size: contain!important;
    box-shadow: unset;
    border-radius: 0;
}

.project-img_pals-3 {
    background: url(images/pals-3.png);
    max-height: 300px;
    margin: 10px;
}

.project-img_pals-4 {
    background: url(images/pals-3.jpg);
}

.project-img_pals-5 {
    background: url(images/pals-5.png);
}

.project-img_pals-6 {
    background: url(images/pals-6.png);
    max-height: 300px;
    margin: 10px;
}

.project-img_pals-7 {
    background: url(images/pals-7.png);
    max-height: 300px;
    margin: 10px;
}

.project-img_pals-8 {
    background: url(images/pals-8.png);
    max-height: 300px;
    margin: 10px;
}

.project-img_pals-9 {
    background: url(images/pals-9.png);
    background-size: contain!important;
    box-shadow: unset;
    border-radius: 0;
}


.project-img_design-system {
    background: url(images/design-system.png);
}

.project-img_design-system-1 {
    background: url(images/design-system-1.png);
}

.project-img_design-system-2 {
    background: url(images/design-system-2.PNG);
}

.project-img_design-system-3 {
    background: url(images/design-system-3.PNG);
    background-position: top!important;
}

.project-img_design-system-4 {
    background: url(images/design-system-4.PNG);
    background-position: top!important;
}

.project-img_design-system-5 {
    background: url(images/design-system-5.PNG);
    background-position: top!important;
}

.project-img_design-system-6 {
    background: url(images/design-system-6.PNG);
    background-position: top!important;
}

.project-img_design-system-7 {
    background: url(images/design-system-7.png);
}

.project-img_design-system-8 {
    background: url(images/design-system-8.png);
}

.project-img_design-system-9 {
    background: url(images/design-system-9.png);
}

.project-img_design-system-10 {
    background: url(images/design-system-10.PNG);
}

.project-img_timesheet {
    background: url(images/timesheet-app.png);
    background-position: top!important;
}

.project-img_timesheet-1 {
    background: url(images/timesheet-app-1.png);
    background-size: contain!important;
    background-position: center!important;
}

.project-img_timesheet-2 {
    background: url(images/timesheet-app-2.png);
}

.project-img_timesheet-3 {
    background: url(images/timesheet-app-3.png);
}

.project-img_timesheet-4 {
    background: url(images/timesheet-app-4.jpg);
    max-height: 600px;
    margin: 10px;
}

.project-img_timesheet-5 {
    background: url(images/timesheet-app-5.jpg);
    max-height: 600px;
    margin: 10px;
}

.project-img_timesheet-6 {
    background: url(images/timesheet-app-6.jpg);
    max-height: 600px;
    margin: 10px;
}

.project-img_timesheet-7 {
    background: url(images/timesheet-app-7.jpg);
    background-size: contain!important;
}

.project-img_timesheet-8 {
    background: url(images/timesheet-app-8.png);
    background-size: contain!important;
}

.project-img_timesheet-9 {
    background: url(images/timesheet-app-9.jpg);
    max-height: 600px;
    margin: 10px;
}

.project-img_datavis {
    background: url(images/datavis.png);
    background-position: top!important;
}

.project-img_datavis-1 {
    background: url(images/datavis-1.png);
    background-position: top!important;
}

.project-img_datavis-2 {
    background: url(images/datavis-2.png);
}

.project-img_datavis-3 {
    background: url(images/datavis-3.png);
    background-position: top!important;
}

.project-img_datavis-4 {
    background: url(images/datavis-4.png);
    background-position: top!important;
    background-size:contain!important;
}

.project-img_datavis-5 {
    background: url(images/datavis-5.png);
    background-size:contain!important;
    max-height: 300px;
    margin: 10px;
}

.project-img_datavis-6 {
    background: url(images/datavis-6.png);
    background-size:contain!important;
    max-height: 300px;
    margin: 10px;
}

.project-img_datavis-7 {
    background: url(images/datavis-7.png);
    background-size:contain!important;
}


.project-img_datavis-8 {
    background: url(images/datavis-8.png);
    background-position: top!important;
    max-height: 300px;
    margin: 10px;
}


.project-img_datavis-9 {
    background: url(images/datavis-9.png);
    background-position: top!important;
    max-height: 300px;
    margin: 10px;
}


.project-img_datavis-10 {
    background: url(images/datavis-10.png);
    background-size:contain!important;
}

.project-img_datavis-11 {
    background: url(images/datavis-11.png);
    max-height: 300px;
    margin: 10px;
}

.project-img_datavis-12 {
    background: url(images/datavis-12.png);
    max-height: 300px;
    margin: 10px;
}

.project-img_datavis-13 {
    background: url(images/datavis-13.png);
    background-size:contain!important;
    margin: 10px;
}

.project-img_datavis-14 {
    background: url(images/datavis-14.png);
    background-size:contain!important;
    margin: 10px;
}

.project-img_datavis-15 {
    background: url(images/datavis-15.png);
    background-size:contain!important;
    margin: 10px;
}

.project-img_datavis-16 {
    background: url(images/datavis-16.png);
    background-size:contain!important;
    margin: 10px;
}

.project-img_datavis-17 {
    background: url(images/datavis-17.png);
    background-size:contain!important;
    margin: 10px;
}

.project-img_datavis-18 {
    background: url(images/datavis-18.png);
    background-size:contain!important;
    margin: 10px;
}

.project-img_datavis-19 {
    background: url(images/datavis-19.png);
    background-size:contain!important;
    margin: 10px;
}

.project-img_icu {
    background: url(images/icu.png);
    background-position: top!important;
}

.project-img_icu-1 {
    background: url(images/icu-1.png);
    background-size:contain!important;
}

.project-img_icu-2 {
    background: url(images/icu-2.png);
    background-position: top!important;
}

.project-img_icu-3 {
    background: url(images/icu-3.png);
    background-position: top!important;
}

.project-img_icu-4 {
    background: url(images/icu-4.png);
    background-position: top!important;
}

.project-img_icu-5 {
    background: url(images/icu-5.jpg);
    background-position: top!important;
    background-size:contain!important;
}

.project-link {
    position: absolute;
    bottom: 10px;
    left: 20px;
    max-width: 300px;
}

.card-contents {
    position: relative;
    padding: 20px;
    flex: 1;
    max-width: 300px;
    padding-bottom: 80px;
}

.card-contents p {
    font-size: 15px;
    color: #222;
}

.card-contents button {
    margin-top: 10px;
}

.card-title h2{
    font-size: 14px;
    margin-top:5px;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.project-tag {
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid #FF581B;
    border-radius: 20px;
}

.project-tag p {
    font-size: 12px;
    margin: 0;
    color: #FF581B;
    font-weight: bold;
    line-height: unset;
}



/*  TIMELINE CONTENT (right side)    */

.section-content-container {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin: 20px 0;
    overflow: auto;
    scrollbar-width: thin;
}
 
.section-content-container-timeline {
    min-height: 300px;
}

.section-content-container::-webkit-scrollbar {
    height: 10px;
    width: 8px;
}

/* Handle */
.section-content-container::-webkit-scrollbar-thumb {
    background: rgba(255,88,27, 0.2);
    border-radius: 10px;
}

/* Handle on hover */
.section-content-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255,88,27, 0.3);
}

.section {
    position: relative;
    margin: 20px 0;
}
.experince-section {
    margin-bottom: 40px;
}

.education-section {
    margin-top: 50px;
}
.skills-section > .section-content-container {
    margin: 0;
}

.listed-content > li {
    display: flex;
    margin: 10px 0;
}

.listed-content > li > p {
    font-weight: 600;
    margin: 5px 10px;
}
.listed-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF581B;
    border-radius: 50%;
    max-height: 25px;
    max-width: 25px;
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    color: white;
    font-weight: 600;
    margin: auto 0;
}

.education-section:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    height: 95%;
    width: 4px;
    z-index: -1;
    background: rgba(189,189,189, 0.4);
}


.work-section:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    height: 85%;
    width: 4px;
    z-index: -1;
    background: rgba(189,189,189, 0.4);
}

.experince-section > div > .section-content-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 30px;
}

.experince-section:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    height: 99%;
    width: 4px;
    z-index: -1;
    background: rgba(189,189,189, 0.4); 
}

.experince-section > .section-content-container-timeline p {
    padding-left: 10px;
}

.experince-section > .section-content-container > .section-content-desc > .section-card-container {
    margin-left: 10px;
}
.section-title h3 {
    color: rgba(32,33,36, 0.35);
    margin: 0;
}

.section-content-title {
    /* display: flex;
    align-items: center; */
    height: 40px;
    border-left: 4px solid #FF581B;
    padding-left: 15px;
}
.section-content-title h2 {
    color: #202124;
}
.section-content-title h3 {
    font-size: 14px;
    margin:0 0 15px 0;
    color: #FF581B;
    font-weight: 500;
}

.section-content-desc {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}
.section-title-highlight {
    /* font-size: 1em; */
    padding: 5px 0.8rem;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    color: rgba(255,88,27, 0.8);
    border-left: 4px solid rgba(255,88,27, 0.7);
    background-color: rgba(255,88,27, 0.07);
}
/* .section-content-desc h3:before {
    content: '';
    position: absolute;
    min-width: 11px;
    min-height: 11px;
    border: 2px solid #FF581B;
    border-radius: 50%;
    left: 20px;
    top: 3px;
    background: rgb(255 110 57 / 20%);
} */
.section-content-container-timeline p {
    margin: 8px 0;
}

.title-logo-container {
    display: flex;
    align-items: center;
}

.title-logo-container img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.title-logo-container > .stretch {
    height: 30px;
    width: 60px; 
    margin-left: 10px;
}

.card-label {
    display: flex;
    margin-right: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
    max-width: max-content;
    border-radius: 5px;
    box-shadow: rgb(213 220 227 / 50%) 1px 0px 0px inset, rgb(213 220 227 / 50%) -1px 0px 0px inset, rgb(213 220 227 / 50%) 0px 1px 0px inset, rgb(195 204 215 / 50%) 0px -1px 0px inset, rgb(12 16 20 / 10%) 0px 1px 2px 0px;
}

.card-label > p {
    color: rgba(32,33,36, 0.75);
    font-weight: 600;
    font-size: 13px;
    padding: 0!important;
    line-height: 20px;
}

.section-card-container {
    display: flex;
    flex-wrap: wrap;
}

.section-content-card {
    position: relative;
    height: 80px;
    width: 80px;
    margin: 0 5px;
    border-radius: 10px;
    box-shadow:0 2px 5px 0 rgba(140, 144, 155, 0.15);
}

.section-content-card img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0; 
    left: 0;
    max-width: 60%;
    max-height: 60%; 
}

.section-background-card-div {
    display: flex;
    margin-right: 0%;
    margin-left: 0px;
    flex-direction: column;
    justify-content: flex-start;
}

.section-background-card-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;

    margin-top: 40px;
    padding: 32px;
    grid-template-columns: 1fr 1.75fr;
    border-style: none;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 10%);
    font-family: Verdana, Geneva, sans-serif;
    color: rgba(92, 92, 92, 0.7);
    font-weight: 400;


}

@media only screen and (max-width: 1200px){
    footer.my-links {
        display: flex;
        flex-direction: column;
    }
    footer.my-links a img {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 812px) {
    .main-title h1 {
        margin-top: 50px; 
    }
    .education-section {
        margin-top: 50px;   
    }

    .projects-content {
        padding-top: 50px;
    }
 
    .portrait-container {
        display: none;
        padding: 200px 30px 124px 30px;
    }

    .project-card {
        flex-direction: column;
        max-width: 900px;
        min-height: unset;
    }

    .image-placeholder {
        min-height: 350px;
        margin: 10px;
        border: 2px solid rgba(0,0,0,0.05);
    }

    .image-placeholder > iframe {
        min-height: 350px;
    }

    .card-contents {
        max-width: unset;
        padding: 10px 10px 60px 10px;
    }
    .timeline-footer {
        display: none;
    }
}

@media only screen and (max-device-width: 480px) { 
    footer.my-links {
        display: flex;
        flex-direction: row;
    }
    footer.my-links a img {
        margin-right: 10px;
    }
    .wrapper {
        flex-direction:column;
        flex-wrap:unset;
    }
    .timeline-half {
        margin-bottom: 50px;
    }
    .timeline-content{
        max-width: unset;
    }
    .section-content-container {
        overflow: unset;
    }
    .section-content-container-timeline {
        min-height: 480px;
    }
    .projects-half {
        max-width: unset;
        padding-top: 50px;
    }
    .main-title h1 {
        margin-top: 160px; 
        font-size: clamp(40px, 10vw, 100px);
    }
    .main-title h2 {
        font-size: clamp(20px, 10vw, 80px);
    }
    /* .education-section {
        margin-top: 50px;
        max-height: 2550px;   
    }
    .work-section {
        min-height: 900px;
    } */

    p, .card-contents p,  a {
        font-size:35px;
        line-height: 60px;
    }

    h1 {
        font-size: 65px;
    }
    h3 {
        font-size: 35px;
    }
    button {
        font-size: 30px;
        border-radius: 35px;
    }
    footer.my-links a img {
        width: 60px;
        height: 60px;
        margin-right: 25px;
    }

    .projects-content {
        padding: 0 30px 124px 30px;
    }

    .portrait-container {
        display: none;
    }

    .project-card {
        flex-direction: column;
        max-width: 900px;
        margin: 50px 0;
        border-radius: 20px;
    }
    .project-card_tag p {
        font-size: 15px;
    }
    .image-placeholder {
        min-height: 520px;
        margin: 10px;
    }

    .image-placeholder > iframe {
        min-height: 520px;
    }

    .card-contents {
        max-width: unset;
        padding: 30px 30px 0 30px;
    }
    
    .card-contents a {
        position: relative;
        min-height: 160px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-contents button {
        margin: 30px auto;
        min-width: 40%;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .breadcrumb {
        margin-right: 10px;
        padding: 8px;
    }
    .breadcrumbs_container img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .breadcrumbs_container p {
        font-size: 25px;
        line-height: 40px;
    }
    .card-label > p {
        font-size: 28px;
        margin: 15px 0;
        line-height: unset;
    }
    .project-tag {
        padding: 2px 15px;
        border-radius: 30px;
    }
    .project-tag p {
        font-size: 28px;
    }
    .intro_bold {
        font-size: 40px;
        margin: 40px 0;
        background: none;
        border: none;
        box-shadow: unset;
        padding: 0;
        line-height: 60px;
    }
    .text-highlight {
        padding: 2px 4px;
        color: rgba(255,88,27, 0.8);
        background-color: rgba(255,88,27, 0.07);
    }
    .card-title h2 {
        font-size: 34px;
        margin: 20px 0;
    }
    .project-link {
        font-size: 30px;
        max-width: 100%;
        height: unset!important;
        min-height: unset!important;
    }
    .section {
        display: none;
    }
    .section-title-highlight {
        font-size: 38px;
    }

    footer.timeline-footer {
        display: none;
    }
}
